.main-layout{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav-header {
    flex: 0 0 10%;
    background-color: black;
    /* height: 5rem; */
}

.container {
    flex: 1;
    height: 100%;
    display: flex;
}

.side-nav {
    flex: 0 0 23%;
    background-color: grey;

    position: fixed;
    top: 60px;
    bottom: 0px;
    width: 200px;
}

.component {
    margin: .5rem;
    flex: 1;
    background-color: #eeeeee;
    margin-left: 220px;
}